<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425754878821-e3mok0tcefr5uta4clca5boiu47klqmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425754878821-e3mok0tcefr5uta4clca5boiu47klqmq</string>
	<key>API_KEY</key>
	<string>AIzaSyCh6rLm5AdvjfQ7GovDZKF6u7m5d2cVZ40</string>
	<key>GCM_SENDER_ID</key>
	<string>425754878821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatssappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-96d78</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-96d78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425754878821:ios:87b90dc2d44671c9eb378c</string>
</dict>
</plist>